<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/assets/js/burgers.js"></script>

    <title>Burger</title>
</head>

<body class="w3-container w3-khaki w3-sofia w3-center">
    {{{ body }}}
</body>

</html>