<h1>BURGER APP!</h1>

<h2>Not Devour!</h2>
<ul>
    {{#each burgers}}
        {{#unless devour}}
            {{> burgers/burger_block devour = true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Devour it!</h2>
<ul>
    {{#each burgers}}
        {{#if devour}}
            {{> burgers/burger_block devour = false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>

